@charset "UTF-8";
header{
    height: 100px;
    background-color: yellowGreen;
}
footer{
    height: 50px;
    background-color: yellowGreen;
}
.contents{
    min-height: 500px;
}
#IdCheckBtn {
   background-color: dodgerblue;
   color: white;
}
#signUpBtn{
    background-color: dodgerblue;
   color: white;
}
.singUp{
    width: 300px;
}
.sign-up-box {width:600px;}
.sign-up-table th {background-color:#D8D8D8;}